.sd_multi-emails_container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding-top: 0px;
  padding-left: 6px;
  padding-right: 6px;
}

.sd_multi-emails_container--oneline {
  flex-direction: column;
  flex-wrap: nowrap;
}

.sd_multi-emails_container--onfocus {
  background-color: rgba(0, 0, 0, .2);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.45);
}

.sd_email-box {
  font-size: 0.9rem;
  margin-right: 5px;
  color: rgb(247, 245, 245);
  padding: 2px 8px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  margin-top: 6px;
}

.sd_email-box--oneline {
  margin-right: 0px;
}

.sd_email-box div {
  display: inline-block; 
}

.sd_email-box_btn {
  font-size: 14px;
  padding: 0px 3px;
  cursor: pointer;
}

.sd_multi-emails_container input {
  flex-grow: 1;
  border: 0 solid #e5eaef;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: 0 .75rem;
  font-size: 1rem;
  line-height: 1.5;
  width: auto;
  color: #fff;
  margin-top: 6px;
}

.sd_text--red {
  color: rgb(255, 86, 86) !important;
}

.sd_milti-email_error {
  display: none;
  color: rgb(255, 86, 86);
  margin-top: 2px;
}

.sd_milti-email_error::after{
  content: 'THIS FIELD IS REQUIRED.';
}

.sd_milti-email_error--show{
  display: block;
}